{{#if @root.user}}
<form id="comment-reply-{{cid}}" class="reply_form" action="/xhr/comment" method="post" onsubmit="return send(this, true)">
  <input type="hidden" name="pid" value="{{pid}}">
  <input type="hidden" name="cid" value="{{cid}}">
  <input type="hidden" name="type" value="{{type}}">
  <textarea placeholder="Reply" name="body"></textarea>
  <button type="submit">{{button_text}}</button> <span class="response"></span>
</form>
{{/if}}

{{#unless @root.user}}
  <p class="invitation"><a href="/register" class="u">Register</a> or <a href="/login" class="u">login</a> to comment</p>
{{/unless}}
