{{#each c}}
<li id="comment-{{_id}}">
  <a name="comment-{{_id}}"></a>
  <div class="action">
    <a onclick="return vote(this);" href="/xhr/comment/{{_id}}/upvote" class="act_upvote" {{isUpvotedComment _id}}></a>
    <span class="votes">{{votes}}</span>
  </div>
  <div class="body">
    {{#if votes}}<span class="votes">{{votes}}</span> &mdash;{{/if}}
    <a href="#" class="byline">{{op.username}}</a>  <span class="karma">{{op.karma}}</span>
    <span class="timestamp">{{timeFromNow ts_created}}</span>
    {{body}}
  </div>
  {{> comment type="thread" pid=../pid cid=id}}

  <ul>
    {{> comment_item c=responses pid=../pid}}
  </ul>

</li>
{{/each}}
