<nav class="filters">
  <ul>
    <li><a href="/~{{channel}}">~{{channel}}</a></li>
    <li><a href="/~{{channel}}/new">New</a></li>
    <li><a href="/~{{channel}}/show">Show</a></li>
    <li><a href="/~{{channel}}/ask">Ask</a></li>
  </ul>
</nav>
