<nav class="filters">
  <ul>
    {{#if channel}}
    <li><a href="/~{{channel}}">~{{channel}}</a></li>
    {{#each config.filters}}
    <li><a href="/~{{@root.channel}}/{{@key}}">{{this.name}}</a></li>
    {{/each}}
    {{else}}
    <li><a href="/"></a></li>
    {{#each config.filters}}
    <li><a href="/{{@key}}">{{this.name}}</a></li>
    {{/each}}
    {{/if}}
  </ul>
</nav>
