<nav class="filters">
  <ul>
    {{#if channel}}
    <li><a href="/~{{channel}}">~{{channel}}</a></li>
    <li><a href="/~{{channel}}/new">New</a></li>
    <li><a href="/~{{channel}}/show">Show</a></li>
    <li><a href="/~{{channel}}/ask">Ask</a></li>
    {{else}}
    <li><a href="/"></a></li>
    <li><a href="/new">New</a></li>
    <li><a href="/show">Show</a></li>
    <li><a href="/ask">Ask</a></li>
    {{/if}}
  </ul>
</nav>
