<nav class="filters">
  <ul>
    <li><a href="/"></a></li>
    {{#if channel}}
      <li><a href="/~{{channel}}">{{channel}}</a></li>
      {{#each config.filters}}
      <li><a href="/~{{@root.channel}}/{{@key}}">{{this.name}}</a></li>
      {{/each}}
    {{/if}}
    {{#unless channel}}
      {{#each config.filters}}
      <li><a href="/{{@key}}">{{this.name}}</a></li>
      {{/each}}
    {{/unless}}
  </ul>
</nav>
