{{> submit}}
<main>
  {{#if posts}}
  <ol id="topic_list">
    {{#each posts}}
    <li>
    {{> topic_item post=this}}
    </li>
    {{/each}}
  </ol>
  {{else}}
  <p class="nothing">
    Nothing here.
  </p>
  {{/if}}
  <nav class="page">

    {{#if channelOrFilter}}
    <a href="{{#if channel}}/~{{channel}}{{/if}}{{#if filter}}/{{filter}}/p/{{lastDate posts}}{{else}}/p/{{lastScoreC posts}}{{/if}}" class="next">Older</a>
    {{else}}
    <a href="/p/{{lastScoreC posts}}" class="next">Older</a>
    {{/if}}

  </nav>
</main>
