{{#if user}}
{{> submit}}
{{/if}}
{{#unless user}}
<p class="invitation">
  <strong>Register or Login to Post</strong>
</p>
{{/unless}}
<main>
  <ol id="topic_list">
    {{#posts}}
    <li>
      <div class="action">
        <a onclick="return vote(this);" href="/xhr/post/{{_id}}/upvote" class="act_upvote" {{isUpvotedPost _id}}></a>
        <span class="votes">{{votes}}</span>
      </div>
      <div class="title">
        <a {{#if url}}target="_blank" href="{{url}}"{{/if}} {{#unless url}}href="/topic/{{_id}}"{{/unless}}class="link" >{{title}}</a>
      </div>
      <div class="meta">
        <!-- {{score}} - {{score_c}} -->
        <a href="/user/{{op.username}}" class="byline">{{op.username}}</a> <span class="karma">{{op.karma}}</span> &mdash;
        <span class="timestamp">{{timeFromNow ts_created}}</span>
        <span class="channel">{{#unless @root.channel}}in <a href="/~{{channel}}">{{channel}}</a>{{/unless}} {{#if filter_tags}}({{#each filter_tags}}{{#if @last}}{{this}}{{else}}{{this}} {{/if}}{{/each}}){{/if}}</span> &mdash;
        <a href="/topic/{{_id}}" class="comment_count">{{count comments}} comments</a>
        <!-- in <a href="#" class="channel">{{channel}}</a> -->
      </div>
    </li>
    {{/posts}}
  </ol>
  <nav class="page">

    {{#if channelOrFilter}}
    <a href="{{#if channel}}/~{{channel}}{{/if}}{{#if filter}}/{{filter}}/p/{{lastDate posts}}{{else}}/p/{{lastScoreC posts}}{{/if}}" class="next">Older</a>
    {{else}}
    <a href="/p/{{lastScoreC posts}}" class="next">Older</a>
    {{/if}}

  </nav>
</main>
